
@{
    ViewBag.Title = "homepage";
}


<hr />
<br />
<br />
<div class="container-fluid" style="">

    <img src="~/images/special-banner-01.png"  height="300px" width="100%" />

    @*<h1 class="text-center" >Complaint Managment System</h1>*@
</div>
<div style="margin:0 auto; width:90%">

    <h5>Welcome To our Complaint management system</h5>

    <p>Want to register a new complain ?  </p>
    @Html.ActionLink("Click Here!", "Create")


</div>