
@{
    ViewBag.Title = "homepage";
}


<hr />
<br />
<br />
<div style="margin:0 auto; width:90%">

    <h5>Welcome To our Complaint management system</h5>

    <p>Want to register a new complain ?  </p>
    @Html.ActionLink("Click Here!", "Create")


</div>